@{
    ViewBag.Title = "DettaglioProdotto";
}

@using(Html.BeginForm("AddToCarrello","Home",FormMethod.Post)) {


    <div>
        Codice: @ViewBag.prodotto.Id
    </div>
    <div>
        Descrizione: @ViewBag.prodotto.Descrizione
    </div>
    <div>
        Giacenza: @ViewBag.prodotto.Giacenza
    </div>
    <div>
        <input type="number" name="qta" placeholder="Inserisci la quantita desiderata" />
    </div>
    <hr />
    <input type="submit" value="Aggiungi al carrello" />
}